// VARIABLES
$primary-color: #EF3054;
$darkblue-color: #191C34;
$black-color: #333;
$gray-color: #C4C4C4;
$white-color: #FFF;


//FONT AND SIZE

$font-text: 'Raleway',
sans-serif;

@mixin font-menu() {
    font-size: 1rem;
    line-height: 150%;
    font-weight: bold;

    @media screen and (min-width: 900px) {
        font-size: 0.875rem;
    }
}

@mixin font-logo-and-icons() {
    font-size: 1.25rem;

    @media screen and (min-width: 900px) {
        font-size: 1.5rem;
    }

}

@mixin font-xs() {
    font-size: 0.75rem;
    line-height: 150%;
    //font-weight: bold;

    @media screen and (min-width: 900px) {
        font-size: 0.875rem;
    }
}

@mixin font-sm() {
    font-size: 0.875rem;
    line-height: 150%;
    font-weight: bold;

    @media screen and (min-width: 900px) {
        font-size: 1rem;
    }
}

@mixin font-md() {
    font-size: 1rem;
    line-height: 150%;
    font-weight: bold;

    @media screen and (min-width: 900px) {
        font-size: 1.125rem;
    }
}


@mixin font-lg() {
    font-size: 1.125rem;
    line-height: 150%;
    font-weight: bold;

    @media screen and (min-width: 900px) {
        font-size: 1.25rem;
    }
}


@mixin font-xl() {
    font-size: 1.25rem;
    line-height: 130%;
    font-weight: bold;

    @media screen and (min-width: 900px) {
        font-size: 2rem;
        line-height: 120%;
    }
}

@mixin font-xxl() {
    font-size: 1.75rem;
    line-height: 120%;
    font-weight: bold;

    @media screen and (min-width: 900px) {
        font-size: 4rem;
        line-height: 110%;
    }
}

// mixins
@mixin lateralPadding() {
    padding-left: 16px;
    padding-right: 16px;

    @media screen and (min-width:700px) {
        padding-left: 24px;
        padding-right: 24px;
    }

    @media screen and (min-width:900px) {
        padding-left: 24px;
        padding-right: 0;
    }

}

@mixin flex($jc:flex-start) {
    display: flex;
    align-items: center;
    justify-content: $jc;
    @content;
}

// RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// GENERAL

body {
    font-family: $font-text;
    color: $black-color;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

// LAYOUT
.container-grid {
    max-width: 75rem;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    margin: 0 auto;

    display: grid;
    grid-template-areas:
        "sidebar header"
        "sidebar main"
        "sidebar footer";

    height: 100vh;
}



.sidebar {
    grid-area: sidebar;
    padding: 32px 16px 32px 0;
    border-right: 1px solid $gray-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .sidebar__logo {
        @include font-logo-and-icons;
        color: $black-color;

        span {
            color: $primary-color;
        }
    }

    .sidebar__menu {
        display: flex;
        flex-direction: column;
        gap: 8px;

        @media screen and (min-width:700px) {
            gap: 16px;
        }

        .menu__link {
            @include font-logo-and-icons;
            color: $gray-color;
            transition: color 225ms ease;

            &:hover {
                color: $primary-color;
            }

        }

    }
}

.header {
    grid-area: header;
    @include lateralPadding;
    padding-top: 32px;
    padding-bottom: 32px;


    .header__navbar {


        @include flex(space-between);

        @media screen and (max-width:900px) {
            justify-content: flex-end;

        }

        .header__menu {

            @include flex(space-between);
            flex-grow: 1;

            @media screen and (max-width:900px) {
                position: fixed;
                top: 0;
                left: -100%;
                background: $primary-color;
                flex-direction: column;
                padding: 24px 0;
                height: 100%;
                width: 100vw;
                z-index: 999;
                transition: all 989ms ease;
                // transform: translateY(-100%);
                flex-grow: 0;
                overflow: auto;
                gap: 12px;

                &.active {
                    // transform: translateY(0);
                    top: 0;
                    left: 0;

                }
            }

            .menu__btn-close {
                background: transparent;
                font-size: 42px;
                padding: 8px;
                cursor: pointer;
                border: none;
                color: $white-color;
                display: none;
                //  border: 1px solid black;


                @media screen and(max-width:900px) {
                    display: block;

                }
            }

            .menu {
                //border: 1px solid black;

                @include flex {
                    gap: 24px;
                }

                @media screen and (max-width:900px) {
                    flex-direction: column;
                    gap: 12px;

                }

                .menu__link {
                    display: block;
                    padding: 8px;
                    color: $black-color;
                    @include font-menu;

                    @media screen and (max-width:900px) {
                        color: $white-color;
                        text-transform: uppercase;
                        //border: 1px solid black;

                    }

                    @media screen and (min-width:900px) {

                        position: relative;
                        padding-left: 0;
                        padding-bottom: 4px;


                        &::after {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            height: 2px;
                            width: 100%;
                            background-color: $black-color;
                            // display: block;
                            visibility: hidden;
                            transform-origin: 0 0;
                            transform: scaleX(0);
                            transition: all 475ms ease;
                        }

                        &:hover::after {
                            visibility: visible;
                            transform: scaleX(1);
                        }

                        &.active::after {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            height: 2px;
                            width: 100%;
                            background-color: $black-color;
                            visibility: visible;
                            transform: scale(1);

                        }


                    }
                }
            }

            .header__callme {
                display: block;
                color: $primary-color;
                @include font-sm;

                @include flex {
                    gap: 2px;
                }

                padding: 8px 0;

                i {
                    @include font-logo-and-icons;
                }

                @media screen and (max-width:900px) {
                    color: $white-color;
                    //color: black;
                    padding: 8px 24px;
                    text-transform: uppercase;
                    border: 1px solid $white-color;
                    //border: 1px solid black;
                    border-radius: 24px;

                }
            }
        }

        .header__toogle-button {
            border: none;
            background: transparent;
            color: $primary-color;
            font-size: 32px;
            padding: 4px;
            cursor: pointer;
            display: none;

            @media screen and(max-width:900px) {
                display: block;


            }
        }
    }
}


.main {
    grid-area: main;
    @include lateralPadding;
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    //  border: 1px solid red;


    @media screen and (min-width:700px) {
        flex-direction: row;
        gap: 24px;
        align-items: flex-start;

    }

    @media screen and (min-width:1200px) {
        align-items: center
    }

    .main__content {
        text-align: center;


        @media screen and (min-width:700px) {
            text-align: left;
        }



        h2 {
            @include font-lg;
            margin-bottom: 8px;

            @media screen and (min-width: 900px) {
                margin-bottom: 4px;
            }
        }

        h3 {
            @include font-xl;
            margin-bottom: 12px;

            @media screen and (min-width: 900px) {
                margin-bottom: 16px;
            }
        }

        .content__name {
            @include font-xxl;
            color: $primary-color;
            margin-bottom: 8px;

            @media screen and (min-width: 900px) {
                margin-bottom: 12px;
            }
        }

        p {
            @include font-sm;
            margin-bottom: 32px;

            @media screen and (min-width: 900px) {
                margin-bottom: 48px;
            }
        }

        a {
            display: block;
            @include font-md;
            color: $white-color;
            background-color: $primary-color;
            padding: 16px;
            text-align: center;
            border-radius: 4px;
            box-shadow: 0px 6px 0px #94142C;
            margin-bottom: 24px;

            transition: all 775ms ease;

            &:hover {
                transform: translateY(6px);
                box-shadow: none;
            }

            @media screen and (min-width: 700px) {
                width: 180px;
            }
        }
    }

    .main__image {
        // border: 1px solid black;
        text-align: center;


        @media screen and (max-width: 700px) {
            max-width: 150px;
        }

        @media screen and (min-width: 700px) {
            max-width: 199px;
        }

        @media screen and (min-width:900px) {
            max-width: 299px;
        }

        @media screen and (min-width: 1220px) {
            max-width: 470px;

        }
    }
}

.footer {
    grid-area: footer;
    @include lateralPadding;

    @include flex {
        gap: 24px;
        flex-direction: column;
    }

    text-align: center;

    padding-top: 24px;
    padding-bottom: 24px;

    @media screen and (min-width: 700px) {
        flex-direction: row;
        text-align: left;
        gap: 32px;
    }

    @media screen and (min-width: 900px) {
        gap: 64px;
    }

    .footer__item {



        .item__title {
            @include font-md;
            margin-bottom: 4px;

            @media screen and (min-width: 700px) {
                margin-bottom: 8px;
            }
        }

        .item__link {
            @include font-sm;
            font-weight: 400;
            font-style: italic;
            color: $black-color;
        }

        &:nth-of-type(2) {
            @media screen and (min-width: 700px) {
                border-left: 1px solid $gray-color;
                border-right: 1px solid $gray-color;
                padding: 0 32px;
            }

            @media screen and (min-width: 900px) {
                padding: 0 64px;
            }
        }
    }





}